.bookmark-container {
    position: absolute;
    top: 20px;
    left: -55px;
    z-index: 0;
}

.bookmark {
    position: relative;
    background: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 55px;
    height: 55px;
    display: flex;
    align-content: center;
    justify-content: center;
    /**box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.1);*/
    margin: 3px 0px;
    flex-direction: column;
    text-decoration: none;
}


.bookmark.nuxt-link-exact-active {
    background: #3498db;
}


.bookmark.is-featured {
    background: #f1c40f;
}

.bookmark::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right:1.5px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}

.bookmark *{
    color: rgba(0,0,0,0.3);
    margin: 0px auto;
}

.bookmark.nuxt-link-exact-active *,
.bookmark.is-featured * {
    color: white;
}

.bookmark span {
    margin-top: 2px;
    font-size: 10px;
    line-height: 10px;
}