html, body {
    background-color: #ef8794;
    background-image: url(../img/background-3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.page {
    display: block;
    padding: 40px;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 150px;
    overflow-x: hidden;
    margin: auto;
}

.disabled {
    opacity: 0.7;
}

@keyframes flying {
    0% {transform: translateX(0vw) translateY(-100px) scale(1.0) rotate(5deg);/* translateY(0px) scale(1.0);*/}
    50% {transform: translateX(calc(100vw + 200px)) translateY(100px) scale(0.7) rotate(-5deg);/* translateY(40px) scale(1.0);*/}
    100% {transform: translateX(calc(100vw + 200px));/* translateY(20px) scale(1.0);*/}
}

@keyframes going-up {
    0% {transform: translateY(0); opacity:0.5;/* translateY(0px) scale(1.0);*/}
    50% {transform: translateY(calc(-300vh - 130px)) ; opacity:0.8;/* translateY(40px) scale(1.0);*/}
    100% {transform: translateY(calc(-300vh - 130px)) ;/* translateY(20px) scale(1.0);*/}
}

.flag-lang {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.flag-lang:not(.is-current) {
    opacity: 0.5
}

.lang-fr {
    right: 10px;
}
.lang-en {
    right: 50px;
}

.flag-lang img {
    height: 100%;
}

.plane {
    position: absolute;
    top:100px;
    width: 130px;
    left: -200px;
    cursor: pointer;
    animation-name: flying;
    animation-duration: 20s;
   animation-timing-function:ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.balloon {
    position: absolute;
    top:calc(250% + 130px);
    height: 75px;
    right: calc(50vw - 475px);
    animation-name: going-up;
    animation-duration: 40s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

h1 {
    margin-bottom: 0px;
}

h1 span {
    white-space: nowrap
}

h2 {
    margin-top: 5px;
    font-weight: 200;
    margin-bottom: 0px;
}
h3 span{
    white-space: nowrap;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    margin-top: 10px;
}

p {
    font-size: 12px;
    margin-top: 25px;
    color: rgba(0,0,0,0.3);
}

p.hint {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    margin-top: 30px;
    font-family: Ink;
}

a {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background: #9b59b6;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    //box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.btn img {
    margin-left: 5px;
    vertical-align: text-top;
}

.card {
    background: white;
    border-radius: 5px;
    margin: auto;
    max-width: 600px;
    text-align: center;
    position: relative;
    padding: 60px;
    padding-top: 75px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.card-bubble {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    position: absolute;
    top: -75px;
    left: calc(50% - 75px);
    border: 5px solid white;
}

.list-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    max-width: 310px;
    margin: auto;
    margin-bottom: 60px;
}

.list-links li {
    position: relative;
    display: inline-block;
    margin: 5px 3px;
    background: #ecf0f1;
    padding: 5px;
    border-radius: 5px; 
    vertical-align: top;
}

.list-links img {
    height: 40px;
    vertical-align: text-top;
}

/* FLAG */

.flag {
    position: relative;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap;
}

.flag .left-part{
    position: relative;
    display: inline-block;
    margin-top: -10px;
    margin-right: -10px;
    height: 48px;
    width:40px;
    vertical-align: top;
}

.flag .left-part::before{
    content: "";
    position: absolute;
    top:0;
    right: 0px;
    z-index: 2;
    height: 0;
    width:0;
    border-top:10px solid transparent;
    border-bottom: 0px solid transparent;
    border-right:10px solid #f02f2f;
}

.flag .left-part .top-triangle{
    position: absolute;
    width: 0;
    height: 0;
    right:0;
    border-top:0px solid transparent;
    border-bottom: 40px solid transparent;
    border-right:40px solid #ff4343;
}

.flag .left-part .bottom-triangle{
    position: absolute;
    top: 10px;
    right:0;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;

    border-right: 40px solid #ff4343;
}

.flag .flag-content {
    background: #ff5a5a;
    position: relative;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
}

.flag .right-part{
    margin-top: -10px;
    margin-left: -10px;
    height: 48px;
    width:40px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.flag .right-part::before{
    content: "";
    position: absolute;
    top:0;
    left: 0px;
    z-index: 2;
    height: 0;
    width:0;
    border-top:10px solid transparent;
    border-bottom: 0px solid transparent;
    border-left:10px solid #f02f2f;
}

.flag .right-part .top-triangle{
    position: absolute;
    width: 0;
    height: 0;
    left:0;
    border-top: 0px solid transparent;
    border-bottom: 40px solid transparent;

    border-left:40px solid #ff4343;
}

.flag .right-part .bottom-triangle{
    position: absolute;
    top: 10px;
    left:0;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;

    border-left:40px solid #ff4343;
}

/* PROJECTS LIST */

ul.projects-list {
    list-style-type: none;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.projects-list li {
    margin-bottom: 15px;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    text-shadow: 0px  0px 5px black;
    font-size: 20px;
    text-align: left;
    position: relative;
    background: black;
}

ul.projects-list li .project-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 5px;
}
ul.projects-list li .project-content {
    position: relative;
    z-index: 2;
    padding: 20px 20px;
    padding-right: 75px;
}

ul.projects-list li .badge {
    position: absolute;
    background: #f39c12;
    border-radius: 20px;
    color: white;
    top:-10px;
    left: 10px;
    font-size: 12px;
    height: 20px;
    padding: 0px 20px;
    line-height: 20px;
}



ul.projects-list li a {
    text-decoration: none;
    //background: rgba(0,0,0,0.5);
    //border-radius: 5px;
    padding: 0px 5px;
    background: rgba(255,255,255,0.8);
    color: rgba(0,0,0,0.7);
    text-shadow: none;
    //border-radius: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.projects-list li p {
    margin:0;
    color: white;
    font-size: 14px;
    margin-top: 3px;
}

ul.projects-list li img {
    top:calc(50% - 25px);
    height: 50px;
    position: absolute;
    right: 20px;
    
    border-radius: 5px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.project-fortnite {
    background-image: url(../img/projects/fortnite.jpg);
}

.project-kalico {
    background-image: url(../img/projects/kalico.jpg);
}

.project-candy {
    background-image: url(../img/projects/candy-candy-candy.jpg);
}

.project-mais-combien {
    background-image: url(../img/projects/mais-combien.jpg);
}

.project-beer-bucket {
    background-image: url(../img/projects/beer-bucket.jpg);
}

.accreditation-wmd {
    background-image: url(../img/projects/wmd.jpg);
}

.accreditation-cda {
    background-image: url(../img/projects/cda.jpg);
}
.event-fortnite {
    background-image: url(../img/projects/conference.jpg);
}

.event-seo {
    background-image: url(../img/projects/seo.jpg);
}

.event-colorblind {
    background-image: url(../img/projects/colorblind.jpg);
}
.event-game-design {
    background-image: url(../img/projects/game-design.jpg);
}

.study-master {
    background-image: url(../img/projects/master.jpg);
}

.study-bitcoin {
    background-image: url(../img/projects/bitcoin.jpg);
}

.study-bachelor {
    background-image: url(../img/projects/bachelor.jpg);
}

.study-entrepreneurship {
    background-image: url(../img/projects/entrepreneurship.jpg);
}
.study-computer {
    background-image: url(../img/projects/computer.jpg);
}
.study-social-networks {
    background-image: url(../img/projects/social-networks.jpg);
}
.study-psychology {
    background-image: url(../img/projects/psychology.jpg);
}

.study-design {
    background-image: url(../img/projects/design.jpg);
}

.arrow-tip {
    position: absolute; bottom: -45px;right: -10px; width: 50px;
}

.arrow-tip--container {
    position: relative;text-align: right; font-family: Ink;
}
.arrow-tip--text {
    padding-right: 30px;color: black; font-size: 30px;margin:0;
}

.arrow-tip--icon {
    height: 30px;position: absolute; top:-0px;right: 0px;transform: rotate(-45deg);
}

@media screen and (max-width: 800px){
    .card {
        padding: 20px;    
        padding-top: 75px;
    }
    
    .balloon {
        right: -10px;
    }

    .lang-en {
        top: 50px;
        right: 10px;
    }

}

@media screen and (max-width: 720px){
    .card{
        
        margin-left: 20px;
    }
    
}
@media screen and (max-width: 350px){
    .card{
        padding: 20px;
        padding-top: 50px;
    }
    ul.projects-list li {
        font-size: 15px;
    }
}