html, body {
    background-color: #ef8794;
    background-image: url(../img/background-3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.page {
    display: block;
    padding: 40px;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 150px;
    overflow-x: hidden;
    margin: auto;
}

.disabled {
    opacity: 0.7;
}

@keyframes flying {
    0% {transform: translateX(0vw) translateY(-100px) scale(1.0) rotate(5deg);/* translateY(0px) scale(1.0);*/}
    50% {transform: translateX(calc(100vw + 200px)) translateY(100px) scale(0.7) rotate(-5deg);/* translateY(40px) scale(1.0);*/}
    100% {transform: translateX(calc(100vw + 200px));/* translateY(20px) scale(1.0);*/}
}

@keyframes going-up {
    0% {transform: translateY(0); opacity:0.5;/* translateY(0px) scale(1.0);*/}
    50% {transform: translateY(calc(-300vh - 130px)) ; opacity:0.8;/* translateY(40px) scale(1.0);*/}
    100% {transform: translateY(calc(-300vh - 130px)) ;/* translateY(20px) scale(1.0);*/}
}

.flag-lang {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.flag-lang:not(.is-current) {
    opacity: 0.5
}

.lang-fr {
    right: 10px;
}
.lang-en {
    right: 50px;
}

.flag-lang img {
    height: 100%;
}

.plane {
    position: absolute;
    top:100px;
    width: 130px;
    left: -200px;
    cursor: pointer;
    animation-name: flying;
    animation-duration: 20s;
   animation-timing-function:ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.balloon {
    position: absolute;
    top:calc(250% + 130px);
    height: 75px;
    right: calc(50vw - 475px);
    animation-name: going-up;
    animation-duration: 40s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

h1 {
    margin-bottom: 0px;
}

h1 span {
    white-space: nowrap
}

h2 {
    margin-top: 5px;
    font-weight: 200;
    margin-bottom: 0px;
}
h3 span{
    white-space: nowrap;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    margin-top: 10px;
}


a {
    color: rgba(0,0,0,0.3);
    text-decoration: underline;
    font-weight: normal;
}

.btn {
    display: inline-block;
    background: #ecf0f1;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    border: 0;
    font-family: Roboto;
    font-size: 16px;
    //box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.btn.primary {
    background: #3498db;
    
    color: white;
}

.btn img {
    margin-left: 5px;
    vertical-align: text-top;
}

.card {
    background: white;
    border-radius: 5px;
    margin: auto;
    max-width: 600px;
    text-align: center;
    position: relative;
    padding: 40px;
    padding-top: 75px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.card-bubble {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    position: absolute;
    top: -75px;
    left: calc(50% - 75px);
    border: 5px solid white;
}

#thoughts {
    position: absolute;
    width: 205px;
    height: 50px;
    background: white;
    top: -60px;
    left: calc(50% + 95px);
    border-radius: 100px;
    border-bottom-left-radius: 0px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    font-family: Roboto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    font-style: italic;
    line-height: 14px;
}

#thoughts span {
    margin: auto;
}

.list-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    max-width: 310px;
    margin: auto;
    margin-bottom: 60px;
}

.list-links li {
    position: relative;
    display: inline-block;
    margin: 5px 3px;
    background: #ecf0f1;
    padding: 5px;
    border-radius: 5px; 
    vertical-align: top;
}

.list-links img {
    height: 40px;
    vertical-align: text-top;
}


/* PROJECTS LIST */

ul.projects-list {
    list-style-type: none;
    /*max-width: 400px;*/
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}


hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 15px;
}


.arrow-tip {
    position: absolute; bottom: -45px;right: -10px; width: 50px;
}

.arrow-tip--container {
    position: relative;text-align: right; font-family: Ink;
}
.arrow-tip--text {
    padding-right: 30px;color: black; font-size: 30px;margin:0;
}

.arrow-tip--icon {
    height: 30px;position: absolute; top:-0px;right: 0px;transform: rotate(-45deg);
}


footer p {
    font-size: 12px;
    margin-top: 25px;
    color: rgba(0,0,0,0.3);
}

@media screen and (max-width: 800px){
    .card {
        padding: 20px;    
        padding-top: 75px;
    }
    
    .balloon {
        right: -10px;
    }

    .lang-en {
        top: 50px;
        right: 10px;
    }

}

@media screen and (max-width: 720px){
    .card{
        
        margin-left: 20px;
    }
    #thoughts {
        display: none;
}
    
}
@media screen and (max-width: 350px){
    .card{
        padding: 20px;
        padding-top: 50px;
    }
}